.galery_section{
    position: relative;
    
}

.galery_section div
{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
row-gap: 1em;

    
}


.galery_section div img{
    width: 15em;
    height: 15em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5),5px 5px 5px 5px rgba(0, 0, 0, 0.384);
}


@media only screen and (max-width: 800px) {
 
    .galery_section
    {
        display: none;
    }
  
    }