:root{
    /* fonts */
    --ff-popins-:'Poppins', sans-serif;
    --ff-cod-:'Source Code Pro', monospace;

    /* colors */
    --cl--main-1-Sailor_Blue:#00203FFF;
    --cl--header-whait1:#fff;





}

header{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    background-color: var(--cl--main-1-Sailor_Blue);
    position: relative;
    height: 200px;
}
  
.header_box
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    position: relative;
}
.img_box img:nth-child(1)
{
    width: 6em;
    margin: 2em 1em 0 0;
}
.img_box img:nth-child(2)
{
    width: 3em;
    margin: 2em 1em 0 0;
    position: absolute;
    top: -1.1em;
    left: 2.2em;
}
header h3
{
    font-family: var(--ff-popins-);
    color: var(--cl--header-whait1);
    font-size: 5em;
    position: relative;
    padding-right: 1em;
}

header h3 span
{
    text-shadow: 
    5px 5px #695151,
    10px 10px #000000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
/* nav */

nav ul{
    list-style: none;
    color: var(--cl--header-whait1);
    display: flex;
    position: relative;

}

nav ul li{
    padding: 1em;
}

.login_link
{
position: absolute;
left: 7em;
top: 4.5em;
color: transparent;
}


@media only screen and (max-width: 800px) {
 
    .header_box
{
    

}

.img_box
{
    position: relative;
}
.img_box img:nth-child(1)
{
    width: 4em;
    margin: 1.5em 1em 0 0;
}
.img_box img:nth-child(2)
{
    width: 2em;
    margin: 2em 1em 0 0;
    position: absolute;
    top: -1.8em;
    left: 1.5em;
}

    header h3
{
    font-family: var(--ff-popins-);
    color: var(--cl--header-whait1);
    font-size: 3em;
    /* padding: 1em 1em 0em 1em; */
    text-align: center;
    position: relative;
}
.header_ul li{
    display: none;
}

}


@media only screen and (max-width: 500px) {

    .header_box
    {
      display: grid;
      place-items: center;
      position: relative;
    }
    
    .img_box
    {
        position: initial;
    }
    .img_box img:nth-child(1)
    {
        display: none;
    }
    .img_box img:nth-child(2)
    {
        width: 6em;
        margin: 0em 0em 0em 0;
        position: absolute;
        top: -3em;
        left: 5.8em;
    }
    
        header h3
    {
        font-family: var(--ff-popins-);
        color: var(--cl--header-whait1);
        font-size: 3em;
        padding: 0em 1em 0em 1em;
        text-align: center;
        position: relative;
    }
    .header_ul li{
        display: none;
    }

}